input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
input[type=text]:focus {
    width: 80%;
}

#title{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 200px;
    margin: 0px 0px -10px 0px;
}
.jumbotron {
    text-align: center;
    background-color: white;
}
.form{
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    text-align: center;
}